body {
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.pokemon-card {
    width: 440px;
    height: 170px;
    display: flex;
    background-color: #E5E7EB;
    border-radius: 8px;
    justify-content: center;
    margin: 15px 0px 15px 0px;
    padding: 0;
    filter: drop-shadow(4px 4px 4px 
        rgba(33, 33, 33, 0.1));
    transition: transform .3s;
}

.pokemon-card:hover {
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.1);
    backface-visibility: hidden;
    cursor: pointer;
}

.pokemon-card:hover figure {
    transform: scale(.85)
        translateX(-5%);
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: 20px 5px 20px 15px;
}

.pokemon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    overflow: hidden;
}

.pokemon-img a {
    display: flex;
    justify-content: center;
}

figure {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.pokemon-img canvas {
    image-rendering: auto;
    margin: 0;
    padding: 0;
    max-width: 240px;
    max-height: 180px;
    background: none;
    overflow: none;
    transform: scale(1.);
}

.title h1 {
    font-size: 1.4rem;
    color: #1F2937;
    margin: 0;
    font-weight: 700;
}

.title h2 {
    font-size: 0.84rem;
    color: #6B7280;
    font-weight: 700;
    margin: 0;
}

.title h2 span{
    font-size: 0.78rem;
    color: #6B7280;
    font-weight: 400;
}

.attributes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.attribute-item {
    font-size: 0.66rem;
    color: #374151;
    margin: 0;
    background-color: #F3F4F6;
    border-radius: 2px;
    padding: 2px;
    flex: 1 1 auto;
    text-align: center;
    margin: 1px;
}

.attribute-item h3 {
    margin: 0;
}

.attribute-item span {
    font-weight: 400;
    font-size: 0.62rem;
}

.water {
    background-color: #76BDFD;
    color: #0F7199;
}

.fire {
    background-color: #EA8B24;
    color: #662116;
}

.electric {
    background-color: #F7C545;
    color: #8B5C00;
}

.flying {
    background-color: #A8B6E8;
    color: #3B5998;
}

.poison {
    background-color: #A974BC;
    color: #5D2F2F;
}

.ground {
    background-color: #BF8B6E;
    color: #59331D;
}

.grass {
    background-color: #48D0B0;
    color: #046B5A;
}

.normal {
    background-color: #C8C8A9;
    color: #5D5D5D;
}

.bug {
    background-color: #A6B852;
    color: #5A5A00;
}

.fairy {
    background-color: #F4B2F4;
    color: #9C0F9C;
}

.fighting {
    background-color: #C86868;
    color: #5A0000;
}

.rock {
    background-color: #B8B8B8;
    color: #5A5A5A;
}

.psychic {
    background-color: #F85888;
    color: #8B0000;
}

.ghost {
    background-color: #7F7F7F;
    color: #5A5A5A;
}

.ice {
    background-color: #A0E8E8;
    color: #00A0E8;
}

.dark {
    background-color: #707070;
    color: #ccc;
}

.dragon {
    background-color: #7F7F7F;
    color: #5A5A5A;
}

.steel {
    background-color: #B8B8B8;
    color: #5A5A5A;
}